@charset "UTF-8";
/* (@)whitenight.tw by truesun */
html, body {
  height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
  display: inline-block;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

a {
  color: #555;
  outline: none;
  hlbr: expression(this.onFocus=this.blur());
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

input, select, textarea {
  outline: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

pre {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  margin: 3px 0;
}

html, body {
  color: #555;
  font-size: 14px;
  font-family: "PingFang TC", "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Helvetica Neue", "Helvetica", "Arial", "华文细黑", "STHeiti", sans-serif;
}

input, textarea, select {
  font-family: "PingFang TC", "微软雅黑", "Microsoft YaHei", "微軟正黑體", "Helvetica Neue", "Helvetica", "Arial", "华文细黑", "STHeiti", sans-serif;
  -webkit-appearance: none;
  border-radius: 0;
}

input[type=radio], input[type=checkbox] {
  width: 1px;
  height: 1px;
  opacity: 0;
}

input[type=radio]:checked + .radio-box::after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 30px;
  display: block;
  background: #0071BE;
}

input[type=checkbox]:checked + .check-box::after {
  content: "";
  font-family: "Font Awesome 5 Pro";
  color: #0071BE;
  font-weight: 900;
  font-size: 14px;
  margin: 0 0 0 2px;
  display: block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  transform: translate(0, 0);
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
}

.lg-box {
  box-shadow: 0 0 50px #111;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 50%;
  z-index: 100;
}

.lg-tit {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #0071BE;
  padding: 10px 8px;
  border-bottom: 2px solid #11577d;
}

.lg-cont {
  background: #fff;
  padding: 15px;
  overflow: auto;
}
.lg-cont h2 {
  font-size: 18px;
  color: #999;
  padding: 20px 0 10px 0;
  text-shadow: 0 1px 0 #fff;
}
.lg-cont h3 {
  font-size: 16px;
  color: #999;
  padding: 10px 0;
  text-shadow: 0 1px 0 #fff;
}

.lg-bot {
  text-align: center;
  background: #e5e5e5;
  padding: 8px;
  border-top: 1px solid #ccc;
}
.lg-bot .btn {
  margin: 0 5px;
  position: relative;
}
.lg-bot .btn input {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  z-index: 2;
}

.lg-mesg-box {
  width: 400px;
  margin: 0 0 0 -200px;
}

.lg-big-box {
  width: 800px;
  margin: 0 0 0 -400px;
}

.lg-full-box {
  width: 90%;
  box-shadow: 0 0 50px #111;
  border-radius: 5px;
  position: absolute;
  top: 15%;
  left: 5%;
  z-index: 100;
}

.lg-add {
  max-height: 300px;
  overflow: y-scroll;
}

.input-sty {
  color: #555;
  font-size: 14px;
  width: 100%;
  background: #eee;
  padding: 5px 10px;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  transition: background 0.4s, box-shadow 0.4s;
  vertical-align: middle;
}
.input-sty:focus {
  background: #fff;
  box-shadow: 0 0 3px #ccc;
}

.select-sty {
  color: #555;
  font-size: 14px;
  width: 100%;
  height: 32px;
  background: #f7f7f7;
  padding: 0 25px 0 8px;
  background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  display: inline-block;
  outline: 0;
  transition: background 0.4s, box-shadow 0.4s;
  vertical-align: middle;
}
.select-sty:focus {
  background: #fff url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%;
  box-shadow: 0 0 3px #ccc;
}

.radio-box {
  width: 19px;
  height: 19px;
  padding: 2px;
  border: 2px solid #0071BE;
  border-radius: 30px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.check-box {
  width: 19px;
  height: 19px;
  border: 2px solid #0071BE;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px 0 0;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.imp {
  color: #d14d4d;
}

.cle {
  clear: both;
}

.error {
  border: 1px solid #d2664f;
}

.note {
  padding: 0 5px 10px 0;
  color: #999;
  word-break: break-all;
}

.cou-poi {
  cursor: pointer;
}

.icon-right {
  position: relative;
}
.icon-right i {
  font-size: 20px;
  position: absolute;
  right: 10px;
  bottom: 6px;
  z-index: 1;
}

.check-list {
  margin: 0;
}
.check-list label {
  padding: 6px 10px 6px 3px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 10px 0 0;
  transition: 0.2s;
}
.check-list label:hover {
  background: #eee;
}
.check-list label.error {
  color: #fff;
  border-radius: 2px;
  background: #d2664f;
  line-height: 16px;
  margin: 0;
  display: inline-block;
}
.check-list span {
  vertical-align: middle;
}

.marquee-box {
  overflow: hidden;
  width: 100%;
  height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.marquee-box ul {
  width: 100%;
  height: 30px;
  position: relative;
}
.marquee-box li {
  height: 30px;
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
  top: -999em;
  left: 0;
}
.marquee-box a {
  color: #0071BE;
  display: block;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.marquee-box a:hover {
  text-decoration: underline;
}
.marquee-box i {
  color: #f00;
  margin: 0 0 0 5px;
}

/*Login page*/
.login-page-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/backend_img/pic_mask.png);
  z-index: 1;
}

.video-full-box {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.video-full-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.login-page-bg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.login-page-bg:after {
  content: "";
  width: calc(97% - 200px);
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 30px;
  left: 213px;
}
.login-page-bg:before {
  content: "";
  width: 1px;
  height: calc(100% - 110px);
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 70px;
  left: 36px;
}

.loain-box {
  width: 500px;
  margin: 0 0 0 -250px;
  position: absolute;
  top: 20%;
  left: 50%;
}

.logo {
  width: 160px;
  height: 90px;
  background: url(../img/backend_img/backend_logo.png) no-repeat center center/cover;
  position: absolute;
  top: -50px;
  left: 170px;
  z-index: 1;
}

.login {
  width: 500px;
  text-align: center;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.6);
}
.login h1 {
  margin: 35px 15px 0;
  color: #fff;
  font-size: 16px;
}
.login .input-box {
  width: 100%;
  margin: 20px auto;
  position: relative;
  display: block;
}
.login .input-box i {
  font-size: 22px;
  color: #106696;
  position: absolute;
  top: 9px;
  right: 15px;
  z-index: 1;
}
.login label {
  padding: 8px 12px;
  border: none;
  display: block;
  position: absolute;
  top: 3px;
  right: 7px;
  z-index: 1;
  border: 1px solid #d2664f;
  background: #d2664f;
  border-radius: 3px;
}
.login label input[class~=input-sty] {
  font-size: 18px;
  padding: 10px 10px 10px 45px;
  z-index: 2;
}
.login label.error {
  color: #fff;
  margin: 1px 0 0;
}
.login .input-sty {
  padding: 10px;
}

.login-note {
  margin: 10px 0 0;
  color: #00e7ff;
  font-size: 16px;
}
.login-note a {
  color: #2dff81;
  border-bottom: 1px solid #2dff81;
}

.login-error-mesg {
  color: #f00;
  padding: 0 25px;
}

.login-footer {
  color: #fff;
  text-align: center;
}

.login-btn-box {
  text-align: center;
  margin: 20px auto;
}

.login-submit-btn {
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  background: #0062a5;
  width: 100%;
  box-shadow: 0 0 3px #90D0F2 inset, 0 0 5px black;
  padding: 12px 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: background 0.2s;
}
.login-submit-btn:hover {
  background: #00538b;
}

.page-logo {
  width: 170px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
}

.login-select-box {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.login-select-box h2 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  letter-spacing: 1px;
  width: 100%;
  margin: 0 0 50px;
}
.login-select-box > a {
  color: #fff;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  letter-spacing: 1px;
  width: 250px;
  height: 170px;
  display: block;
  margin: 0 2% 20px;
  align-items: center;
  background: rgba(46, 195, 140, 0.3);
  border: 1px solid #2ec38c;
  border-radius: 10px;
  padding: 38px 20px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #2ec38c, 0 0 10px #2ec38c inset;
  transition: 0.4s;
  position: relative;
}
.login-select-box > a:hover {
  transform: scale(1.1);
  background: rgba(46, 195, 140, 0.6);
  box-shadow: 0 0 40px #2ec38c, 0 0 10px #2ec38c inset;
}
.login-select-box > a:nth-of-type(2) {
  padding: 20px;
}
.login-select-box i {
  font-size: 48px;
  color: #00ffae;
  display: block;
  margin: 0 auto 10px;
}
.login-select-box img {
  height: 50px;
  display: block;
  margin: 0 auto 10px;
}
.login-select-box p {
  text-align: center;
  width: 100%;
  margin: 10px 0 80px;
}
.login-select-box p a {
  font-size: 16px;
  color: #fff;
  transition: 0.4s;
  display: inline-block;
}
.login-select-box p a:hover {
  color: #2ec38c;
  transform: scale(1.1);
  text-shadow: 0 0 20px #2ec38c;
}
.login-select-box p i {
  font-size: 16px;
  display: inline-block;
}
.login-select-box span {
  font-size: 12px;
  display: block;
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 1;
}
.login-select-box span br {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  height: calc( 100% - 40px );
  padding: 0 20px 0 30px;
  margin: 40px 0 0;
  overflow: auto;
  background: #fff url(../img/backend_img/main_bg.png);
  box-sizing: border-box;
}
.main h1 {
  font-size: 24px;
  color: #003B83;
  padding: 15px 0 20px 0;
  background: url(../img/backend_img/title_line.png) 0 53px repeat-x;
}
.main h2 {
  font-size: 18px;
  color: #999;
  padding: 20px 0 10px 0;
  text-shadow: 0 1px 0 #fff;
}
.main h3 {
  font-size: 16px;
  color: #999;
  padding: 10px 0;
  text-shadow: 0 1px 0 #fff;
}

.top-menu {
  width: 100%;
  height: 40px;
  background: #003B83;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.top-menu img {
  margin: 0 0 0 10px;
  position: relative;
  top: 3px;
}

.m-top-menu {
  display: none;
}

.system-name {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  padding: 0 10px 0 0;
  line-height: 40px;
}

.sub-system {
  font-size: 16px;
  display: inline-block;
}
.sub-system a {
  color: #a5d9ff;
  display: inline-block;
  padding: 0 10px;
  line-height: 40px;
  transition: 0.3s;
}
.sub-system a:hover {
  color: #fff;
}

.sidebar-switch {
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  width: 180px;
  padding: 0 0 0 10px;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.side-nav {
  width: 180px;
  height: calc( 100% - 40px );
  float: left;
  overflow: hidden;
  position: relative;
  background: #0071BE;
  box-sizing: border-box;
}

.side-box {
  width: 180px;
  height: 100%;
}

.btn-side-close {
  color: #fff;
  font-size: 16px;
  width: 26px;
  height: 23px;
  line-height: 1;
  background: #0071BE;
  box-sizing: border-box;
  padding: 0 0 0 6px;
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
}
.btn-side-close:hover p {
  height: 68px;
}
.btn-side-close p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 2px;
  width: 100%;
  height: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: #222;
  position: absolute;
  top: 28px;
  left: 0;
  transition: 0.3s;
}

.btn-side-open {
  color: #fff;
  font-size: 16px;
  width: 26px;
  height: 23px;
  background: #0071BE;
  line-height: 1;
  box-sizing: border-box;
  padding: 3px 0 0 6px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: -40px;
  z-index: 2;
}
.btn-side-open:hover p {
  height: 68px;
}
.btn-side-open p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 1.3;
  width: 100%;
  height: 0;
  overflow: hidden;
  box-sizing: border-box;
  background: #222;
  padding: 0 2px;
  position: absolute;
  top: 23px;
  left: 0;
  transition: 0.3s;
}

.side-logo {
  width: 160px;
  height: 90px;
  margin: 10px auto;
  background: url(../img/backend_img/backend_logo.png) no-repeat center/cover;
}

.side-footer {
  font-size: 12px;
  color: #63a8d8;
  background: #0071BE;
  width: 180px;
  padding: 5px 0 20px 15px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.login-date {
  font-size: 12px;
  color: #fff;
  letter-spacing: 1px;
  margin: 0 0 8px;
}

.backend-tit {
  text-align: right;
  color: #fff;
  font-size: 12px;
  padding: 5px;
}

.user-info {
  font-size: 15px;
  text-align: right;
  color: #eee;
  margin: 7px 0 0;
  padding: 0 10px 0 0;
  float: right;
}

.user-id {
  border-right: 1px solid #fff;
  padding: 0 16px 0 0;
  margin: 0 13px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.user-setting {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.user-setting a {
  color: #00B0C7;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
  transition: 0.2s;
}
.user-setting a:hover {
  color: #fff;
}

.nav-box {
  overflow-y: auto;
  height: 100%;
}

.nav {
  padding: 0 0 120px;
}
.nav a {
  font-size: 14px;
  color: #fff;
  padding: 12px 10px 11px 10px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  transition: background 0.2s;
}
.nav a:hover {
  color: #fff;
  background: #00538b;
}
.nav a.act {
  color: #fff;
  background: #00538b;
  text-shadow: 0 0 12px #39B7FC;
}
.nav i {
  margin: 0 3px 0 0;
}

.nav-item {
  font-size: 14px;
  color: #fff;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  transition: background 0.2s;
  cursor: pointer;
}
.nav-item:hover {
  color: #fff;
  background: #00538b;
}
.nav-item .act {
  color: #fff;
  background: #00538b;
  text-shadow: 0 0 12px #39B7FC;
}

.nav-sub-item {
  padding: 12px 10px 11px 10px;
}

.sub-nav {
  overflow: hidden;
  display: none;
}
.sub-nav a {
  padding: 12px 10px 11px 35px;
  background: #00406c;
}
.sub-nav a:hover {
  background: #003458;
}
.sub-nav a:before {
  content: "-";
  margin: 0 7px 0 0;
}

.sub-menu {
  margin: -10px 0 20px 0;
  background: #063165;
  overflow: hidden;
}
.sub-menu li {
  float: left;
}
.sub-menu a {
  color: #fff;
  padding: 10px 17px;
  display: block;
  transition: 0.2s;
}
.sub-menu a.act, .sub-menu a:hover {
  color: #fff;
  background: #2F527E;
}

.sub-page {
  height: 31px;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #0071BE;
}
.sub-page li {
  height: 30px;
  line-height: 30px;
  padding: 0 14px;
  display: block;
  border-radius: 5px 5px 0 0;
  transition: 0.2s;
  float: left;
  margin: 0 0 0 10px;
  cursor: pointer;
}
.sub-page li:hover {
  background: #eee;
}
.sub-page li.act {
  color: #0071BE;
  border: 1px solid #0071BE;
  border-bottom: 1px solid #F9F9F9;
}
.sub-page li.act:hover {
  background: #F9F9F9;
}

.breadcrumb {
  margin: 10px 0;
  background-color: #ECECEC;
  border-radius: 4px;
}
.breadcrumb li {
  display: inline-block;
}
.breadcrumb a {
  color: #337ab7;
  text-decoration: none;
  padding: 8px 10px;
  display: inline-block;
  transition: 0.2s;
}
.breadcrumb a:hover {
  background: #ddd;
}
.breadcrumb span {
  padding: 8px 10px;
}
.breadcrumb a.active {
  color: #777;
}
.breadcrumb:focus {
  background: #fff;
  box-shadow: 0 0 3px #ccc;
}

.breadcrumb > li + li:before {
  padding: 0 0;
  color: #ccc;
  content: "/ ";
}

.input-box {
  width: 44%;
  margin: 0 5% 20px 0;
  display: inline-block;
  vertical-align: top;
}
.input-box p {
  font-size: 15px;
}
.input-box label {
  font-size: 16px;
  color: #0071BE;
  font-weight: bold;
  margin: 5px 5px 10px 0;
  display: block;
}
.input-box .check-list label {
  font-weight: normal;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.input-box label.error {
  color: #fff;
  font-weight: normal;
  padding: 5px 8px;
  border-radius: 2px;
  background: #d2664f;
  display: inline-block;
}
.input-box span {
  font-size: 16px;
  color: #555;
  vertical-align: middle;
}

.input-box-w {
  width: 93.5%;
}

.input-box-100 {
  width: 100%;
  margin: 0 0 20px;
}

.more-info {
  height: 400px;
}

.desc-info {
  height: 150px;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}

.w150 {
  width: 150px;
}

.w200 {
  width: 200px;
}

.w250 {
  width: 250px;
}

.table {
  width: 100%;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0 0 15px 0;
}
.table th {
  background: #eee;
}
.table th, .table td {
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1%;
}
.table a {
  color: #0071BE;
}

.table-group {
  font-size: 16px;
  width: 100%;
}

.calendar-sty {
  min-width: 1100px;
}
.calendar-sty th, .calendar-sty td {
  text-align: left;
  vertical-align: top;
  padding: 10px 5px;
}
.calendar-sty a {
  font-size: 14px;
  padding: 3px;
  line-height: 1.8;
  border-radius: 5px;
  transition: 0.3s;
  display: block;
}
.calendar-sty a:hover {
  background: #eee;
}
.calendar-sty a br {
  margin: 0 0 10px;
  display: block;
}
.calendar-sty p {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  border-radius: 50px;
  padding: 3px 10px;
  margin: 0 0 3px;
  background: #00B0C7;
}

/*tag style*/
.tag {
  display: inline-block;
  overflow: hidden;
}
.tag li {
  border: 1px solid #ddd;
  margin: 0 8px 8px 0;
  float: left;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}
.tag li:hover {
  border: 1px solid #0071BE;
}

.tag-add {
  font-size: 18px;
  color: #fff;
  background: #0071BE;
  line-height: 30px;
  padding: 0 8px;
}
.tag-add:hover {
  background: #00538b;
}

.tag-name {
  line-height: 30px;
  padding: 0 8px;
  float: left;
}

.tag-name-input {
  border: none;
  border-radius: 0;
  float: left;
  display: block;
}
.tag-name-input input.input-sty {
  width: 120px;
  padding: 5px 8px;
  border: none;
}

.tag-del {
  font-size: 18px;
  background: #ddd;
  padding: 0 8px;
  line-height: 30px;
  float: left;
  display: block;
  transition: 0.2s;
}
.tag-del:hover {
  background: #ccc;
}

.tag-creat {
  display: none;
}

.tag-check {
  font-size: 18px;
  color: #fff;
  background: #0071BE;
  padding: 0 15px;
  line-height: 30px;
  float: left;
  display: block;
  transition: 0.2s;
  position: relative;
}
.tag-check:hover {
  background: #00538b;
}
.tag-check input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.tag-lg-box {
  background: #fff;
  box-shadow: 0 0 20px #999;
  border-radius: 5px;
  width: 280px;
  padding: 15px;
  margin: -145px 0 0 -140px;
}
.tag-lg-box .input-sty {
  width: 96%;
  font-size: 20px;
}
.tag-lg-box label.error {
  color: #fff;
  border-radius: 2px;
  background: #d2664f;
  display: inline-block;
  margin: 5px 0 0 0;
}
.tag-lg-box .submit-btn {
  margin: 0;
}

.tag-lg-list {
  width: 680px;
  margin: -350px 0 0 -270px;
}

.btn-area {
  font-size: 16px;
  text-shadow: 0 1px 1px #000;
  letter-spacing: 2px;
  padding: 10px 0;
}
.btn-area input {
  display: block;
  width: 100%;
  position: absolute;
  margin: 0;
  border: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  direction: ltr;
  cursor: pointer;
  z-index: 2;
}

.btn {
  color: #fff !important;
  font-size: 14px;
  display: inline-block;
  position: relative;
  padding: 8px 12px;
  margin: 0 15px 0 0;
  border-radius: 2px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  transition: 0.2s;
  cursor: pointer;
}

.btn-submit {
  background: #0071BE;
}
.btn-submit:hover {
  background: #00538b;
}

.btn-function {
  background: #d14d4d;
}
.btn-function:hover {
  background: #bb3030;
}

.btn-blue {
  background: #00B0C7;
}
.btn-blue:hover {
  background: #008394;
}

.btn-green {
  background: #2ec38c;
}
.btn-green:hover {
  background: #249a6e;
}

.btn-cancel {
  background: #999;
}
.btn-cancel:hover {
  background: gray;
}

.only-title {
  width: 100%;
  color: #555;
  margin: 0;
}
.only-title li {
  font-weight: bold;
  width: 100%;
  border-bottom: 2px solid #555;
}
.only-title li:hover {
  background: none;
}

.list {
  width: 100%;
  margin: 0 0 20px 0;
  color: #555;
}
.list li.title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.list li.title:hover {
  background: none;
}
.list li {
  width: 100%;
  border-bottom: 1px dotted #ccc;
  box-sizing: border-box;
}
.list li:hover {
  background: #fff;
}
.list img {
  width: 100%;
  display: block;
}

.title i {
  cursor: pointer;
}
.title i:hover {
  color: #0071BE;
}
.title i.act {
  color: #0071BE;
}

.check-all-list label {
  cursor: pointer;
}

.list-group {
  margin: 0;
}

.list-control {
  text-align: right;
}
.list-control .btn {
  margin: 0 0 0 15px;
}

.list-input input[type=text] {
  width: 100%;
  box-sizing: border-box;
}

.data-box {
  width: 700px;
  border: 1px solid #ccc;
}
.data-box .list {
  margin: 0;
}
.data-box li:last-child {
  border: none;
}
.data-box .check-list label {
  margin: 0;
}
.data-box .check-list span {
  font-size: 14px;
}

.box-list {
  overflow: hidden;
}
.box-list li {
  margin: 0 8px 10px 0;
  border: 2px solid #ccc;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.box-list li:hover {
  border: 2px solid #0071BE;
}
.box-list li:hover p {
  background: #0071BE;
}
.box-list li:hover .del {
  display: block;
}
.box-list li.act {
  border: 2px solid #0071BE;
}
.box-list li.act p {
  background: #0071BE;
}
.box-list li.act .del {
  display: block;
}
.box-list img {
  display: block;
}
.box-list a {
  width: 120px;
  display: block;
}
.box-list a img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.box-list p {
  color: #fff;
  text-align: center;
  width: 100%;
  background: #999;
  height: 25px;
  line-height: 25px;
  transition: 0.2s;
}

.del {
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 30px;
  height: 30px;
  background: #0071BE;
  line-height: 29px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
  cursor: pointer;
}

.photo-list {
  margin: 0 0 10px;
}
.photo-list li {
  width: 200px;
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee;
  margin: 0 10px 10px 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: 0.3;
}
.photo-list li:hover {
  border: 1px solid #0071BE;
}
.photo-list a {
  width: 100%;
  display: inline-block;
  position: relative;
}
.photo-list img {
  width: 100%;
  display: block;
}
.photo-list p {
  text-align: center;
  padding: 5px 0 0;
}

.del-photo {
  width: 21px;
  height: 21px;
  background: url(../img/backend_img/pic_del.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  cursor: pointer;
}

.unfold-list {
  width: 100%;
  margin: 0 0 20px 0;
  color: #555;
}

.unfold-item {
  color: #0071BE;
  width: 100%;
  background: #eee;
  padding: 10px;
  margin: 0 0 3px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
}
.unfold-item:hover {
  background: #e1e1e1;
}
.unfold-item p {
  font-size: 16px;
}
.unfold-item i {
  font-size: 16px;
  float: right;
  display: block;
  position: absolute;
  right: 16px;
  top: 11px;
}

.unfold-item.fold-open {
  background: #e1e1e1;
}

.unfold-cont {
  padding: 8px;
  background: #eee;
  margin: -3px 0 3px 0;
}
.unfold-cont .list {
  margin: 0;
}
.unfold-cont label {
  font-size: 14px;
  margin: 5px 5px 5px 0;
}

.search-box {
  text-align: left;
  background: #f2f2f2;
  border: 1px solid #d0d0d0;
  padding: 8px 0 0;
  margin: 0 0 10px;
}
.search-box .btn-area {
  background: #e5e5e5;
  padding: 10px 0 8px 8px;
  border-top: 1px solid #ccc;
}

.search-ui-box {
  margin: 0 12px 8px 8px;
  display: inline-block;
  vertical-align: middle;
}
.search-ui-box label {
  display: inline-block;
  vertical-align: middle;
}
.search-ui-box span {
  display: inline-block;
  vertical-align: middle;
}

.search-signle {
  text-align: left;
  background: #eee;
  border: 1px solid #ddd;
  padding: 8px 0 0;
  margin: 0 0 10px;
}
.search-signle .search-ui-box {
  margin: 0 5px 8px 8px;
}
.search-signle .btn-area {
  padding: 0;
  margin: 0 0 8px;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70, .group-box-83, .group-box-85, .group-box-100 {
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

.group-box-15 {
  width: 15%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-70 {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-83 {
  width: 83%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-85 {
  width: 85%;
  display: inline-block;
  vertical-align: middle;
}

.group-box-100 {
  width: 100%;
}

.box-5 {
  width: 5%;
}

.box-8 {
  width: 8%;
}

.box-10 {
  width: 10%;
}

.box-12 {
  width: 12%;
}

.box-14 {
  width: 14%;
}

.box-15 {
  width: 15%;
}

.box-16 {
  width: 16%;
}

.box-20 {
  width: 20%;
}

.box-25 {
  width: 25%;
}

.box-30 {
  width: 30%;
}

.box-35 {
  width: 35%;
}

.box-40 {
  width: 40%;
}

.box-45 {
  width: 45%;
}

.box-50 {
  width: 50%;
}

.box-55 {
  width: 55%;
}

.box-60 {
  width: 60%;
}

.box-65 {
  width: 65%;
}

.box-70 {
  width: 70%;
}

.box-75 {
  width: 75%;
}

.box-80 {
  width: 80%;
}

.box-85 {
  width: 85%;
}

.box-90 {
  width: 90%;
}

.box-95 {
  width: 95%;
}

.box-5, .box-8, .box-10, .box-12, .box-14, .box-15, .box-16, .box-20, .box-25, .box-30, .box-35, .box-40, .box-45, .box-50, .box-55, .box-60, .box-65, .box-70, .box-75, .box-80, .box-85, .box-90, .box-95 {
  word-wrap: break-word;
  padding: 0 0.5%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.pad-u-d-10 {
  padding: 10px 0;
}

.opera {
  text-align: center;
}
.opera a {
  padding: 0 3px;
}
.opera i {
  font-size: 15px;
  color: #999;
}
.opera i.red {
  color: #d14d4d;
}
.opera i.red:hover {
  color: #d14d4d;
}
.opera i:hover, .opera i.act {
  color: #0071BE;
}

.video {
  margin: 10px 0 0;
  display: block;
}
.video iframe {
  border: 1px solid #ddd;
  padding: 8px;
  display: block;
}

.upload-pic {
  display: none;
}

.upload-img-box {
  width: 150px;
  height: 150px;
}
.upload-img-box label.error {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.head-box {
  width: 200px;
  height: 200px;
}
.head-box label.error {
  position: absolute;
  top: 4px;
  left: 8px;
  z-index: 1;
}

.upload-box-sty {
  border: 1px solid #ccc;
  padding: 5px;
  background: #eee url(../img/backend_img/upload.png) center no-repeat;
  transition: 0.3s;
}
.upload-box-sty:hover {
  border: 1px solid #0071BE;
}

.upload-click-area {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.upload-click-area img {
  width: 100%;
  height: 100%;
}

.upload-form-file {
  width: 100%;
  height: 40p;
}
.upload-form-file input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  cursor: pointer;
}

.form-file {
  text-align: center;
  font-size: 16px;
  text-shadow: 0 1px 1px #111;
  color: #fff;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background: #0071BE;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
  transition: background 0.2s;
}
.form-file:hover {
  background: #00538b;
}

.file-name {
  color: #0071BE;
  margin: 10px 0;
}

.form-file label {
  margin: 0;
  line-height: 28px;
  position: absolute;
  top: 0;
  right: -129px;
}

.pagination {
  margin: 20px auto 100px;
}

.pagination-numbers {
  display: flex;
  justify-content: center;
}
.pagination-numbers a {
  color: #666;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.59);
  font-size: 13px;
  display: inline-block;
  position: relative;
  margin: 0px 5px;
  width: auto;
  height: auto;
  background: #ececec;
  padding: 6px 10px;
  border: 1px solid #d8d8d8;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.027), inset 0px 1px 0px rgba(255, 255, 255, 0.69), inset 0px -1px 0px rgba(0, 0, 0, 0.0187), inset 0px 14px 13px rgba(255, 255, 255, 0.57);
  transition: 0.3s;
}
.pagination-numbers a:hover {
  color: #888;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.69);
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 13px rgba(255, 255, 255, 0.2);
}
.pagination-numbers a.act {
  color: #696969;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.53);
  border: 1px solid #d2d2d2;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.58), inset 0px 1px 6px rgba(0, 0, 0, 0.07), inset 0px -14px 13px rgba(255, 255, 255, 0.2);
}

.no-data {
  color: #999;
  padding: 10px 10px 20px;
}

li.no-data {
  padding: 5px 10px;
}

.input-box .tag-src-area label {
  display: inline-block;
}

.tag-src-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-src-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tag-input {
  border: 1px solid #d0d0d0;
  padding: 3px 5px;
  background: rgba(238, 238, 238, 0.7);
}

.tag-btn {
  color: #fff;
  padding: 3px 6px;
  margin: 0 3px;
  border-radius: 2px;
  background: #999;
  cursor: pointer;
}
.tag-btn:hover {
  background: gray;
}

.tag-btn.src {
  background: #0071BE;
}
.tag-btn.src:hover {
  background: #00538b;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 100%;
  max-height: 120px;
  padding: 3px;
  border: 1px solid #999;
  background: #fff;
  box-sizing: border-box;
  overflow: scroll;
}

.tt-suggestion {
  padding: 0 3px;
  cursor: pointer;
}
.tt-suggestion:hover {
  color: #fff;
  background: #0071BE;
}

.map-box {
  height: calc( 100% - 40px );
  margin: 40px 0 0;
  overflow: auto;
  box-sizing: border-box;
  overflow: hidden;
}
.map-box iframe {
  display: block;
}

.err-notic-box {
  color: #fff;
  width: 600px;
  background: rgba(204, 47, 47, 0.9);
  border-radius: 8px;
  padding: 14px 20px;
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 2;
  transform: translateX(102%);
}
.err-notic-box h2 {
  font-size: 20px;
  margin: 0 0 5px;
}
.err-notic-box p {
  font-size: 16px;
  background: #982121;
  border-radius: 3px;
  line-height: 1.6;
  padding: 5px 10px;
  margin: 0 0 5px;
}

.map-notic-close {
  font-size: 24px;
  position: absolute;
  top: 6px;
  right: 20px;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s;
}
.map-notic-close:hover {
  transform: scale(1.1);
}

.rightIn {
  animation-name: slideRightIn;
  animation-delay: 1s;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes slideRightIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sel-cus-ui {
  width: 100%;
  position: relative;
}
.sel-cus-ui ul {
  width: 100%;
  max-height: 150px;
  padding: 8px 8px 34px 8px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.sel-cus-ui li {
  color: #7B7B7B;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 0 0 0 8px;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.sel-cus-ui li:hover {
  background: #ddd;
}
.sel-cus-ui label {
  width: 100%;
  font-weight: normal;
  padding: 3px 0;
  margin: 0;
  line-height: 1;
  cursor: pointer;
}
.sel-cus-ui label span {
  font-size: 14px;
}
.sel-cus-ui label input {
  position: absolute;
  visibility: hidden;
}

.sel-cus-ui.sel-cus-ui-column li {
  width: auto;
  height: auto;
  line-height: 1;
  padding: 0;
  margin: 0 8px 8px 0;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.sel-cus-ui.sel-cus-ui-column label {
  padding: 8px;
}

.sel-group {
  width: 100%;
  height: 150px;
  position: absolute;
}

.btn-close-list {
  color: #fff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  background: #0071BE;
  width: 100%;
  padding: 7px 0;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  cursor: pointer;
}

.selected-ui {
  font-size: 14px;
  color: #555;
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: 1px solid #d0d0d0;
  background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%;
  padding: 0 35px 0 9px;
  cursor: pointer;
  transition: 0.3s;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

@media screen and (max-width: 1300px) {
  .login-select-box a {
    font-size: 24px;
    width: 220px;
    margin: 0 1% 20px;
    padding: 38px 10px 20px;
  }
  .login-select-box p {
    margin: 10px 0;
  }
  .login-select-box p a {
    height: auto;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .login-select-box {
    width: 500px;
  }
  .login-select-box h2 {
    margin: 0 0 30px;
  }
  .login-select-box a {
    width: 200px;
    height: 150px;
    font-size: 20px;
    margin: 30px 2%;
  }
  .login-select-box span {
    font-size: 12px;
    letter-spacing: 0;
  }

  .system-name {
    font-size: 16px;
  }

  .sub-system a {
    font-size: 14px;
    padding: 0 5px;
  }

  .user-info {
    padding: 0 5px 0 0;
  }

  .user-id {
    font-size: 14px;
  }

  .user-setting {
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .m-top-menu {
    display: inline-block;
    cursor: pointer;
  }
  .m-top-menu i {
    font-size: 16px;
    color: #a5d9ff;
  }

  .sub-system {
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;
    background: #0f2e54;
    display: none;
  }

  .nav {
    padding: 0;
  }

  .side-nav {
    width: 100%;
    height: 41px;
    overflow: hidden;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 1;
  }

  .sidebar-switch {
    width: 100%;
  }

  .side-box {
    width: 100%;
    height: auto;
  }

  .side-footer {
    width: 100%;
    padding: 0 20px;
    position: static;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav a {
    text-align: center;
  }

  .nav-sub-item {
    text-align: center;
  }

  .btn-side-open {
    display: none;
  }
  .btn-side-open p {
    display: none;
  }

  .btn-side-close p {
    display: none;
  }

  .main {
    height: calc( 100% - 81px );
    margin: 81px 0 0;
    padding: 0 20px;
  }
  .main h1 {
    font-size: 18px;
    padding: 10px 0;
    background: url(../img/backend_img/title_line.png) 0 37px repeat-x;
  }
  .main h2 {
    font-size: 16px;
    padding: 15px 0 10px 0;
  }

  .sub-page {
    height: auto;
    overflow-x: auto;
  }
  .sub-page ul {
    width: 760px;
  }

  .sub-menu {
    margin: -10px 0 15px 0;
  }

  .list {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .list li {
    min-width: 760px;
  }

  .input-box {
    width: 100%;
    margin: 0 0 15px 0;
  }
  .input-box label {
    font-size: 14px;
  }
  .input-box span {
    font-size: 14px;
  }

  .tag-src-area {
    margin: 0 0 10px;
    align-items: flex-start;
  }

  .btn {
    margin: 0 5px 10px 0;
  }

  .btn-area .btn-submit {
    margin: 0;
    padding: 6px 10px;
  }

  .w150 {
    width: 100px;
  }

  .w200 {
    width: 100px;
  }

  .w250 {
    width: 100px;
  }

  .data-box {
    width: 100%;
  }

  .table-group {
    font-size: 14px;
    overflow-x: auto;
  }

  .err-notic-box {
    width: 80%;
    padding: 9px 11px;
  }
  .err-notic-box h2 {
    font-size: 16px;
  }
  .err-notic-box p {
    font-size: 14px;
  }

  .map-notic-close {
    top: 2px;
    right: 10px;
  }

  .map-box {
    height: calc( 100% - 80px );
    margin: 80px 0 0;
  }
}
@media screen and (max-height: 850px) {
  .btn-side-up-dow {
    display: block;
  }
}
@media screen and (max-width: 480px) {
  .top-menu img {
    width: 30px;
    margin: 0 0 0 5px;
  }

  .system-name {
    font-size: 15px;
    padding: 0 3px 0 0;
  }

  .user-id {
    line-height: 1;
    padding: 0 5px 0 0;
    margin: 0;
    vertical-align: bottom;
  }

  .user-setting {
    line-height: 1;
  }
  .user-setting a {
    margin: 0 5px 0 0;
  }

  .page-logo {
    width: 130px;
    top: 10px;
    left: 10px;
  }

  .login-page-bg::after {
    width: calc(97% - 160px);
    left: 154px;
  }
  .login-page-bg:before {
    display: none;
  }

  .loain-box {
    width: 90%;
    margin: 0;
    top: 15%;
    left: 5%;
  }

  .login {
    width: 100%;
  }

  .logo {
    left: 50%;
    transform: translateX(-80px);
  }

  .login-select-box {
    width: 90%;
  }
  .login-select-box img {
    height: 30px;
  }
  .login-select-box a {
    font-size: 16px;
    width: 46%;
    height: 130px;
    padding: 36px 5px 20px;
  }
  .login-select-box a:nth-of-type(2) {
    padding: 25px 5px 20px;
  }
  .login-select-box span {
    font-size: 10px;
  }

  .pagination {
    margin: 20px auto;
  }

  .pagination-numbers a {
    padding: 4px 9px;
    margin: 0px 3px;
  }

  .side-box {
    height: 100%;
  }

  .nav-box {
    height: calc( 100% - 126px);
  }
}
@media screen and (max-width: 375px) {
  .login-select-box span {
    font-size: 10px;
    text-align: center;
    width: 100%;
    top: -39px;
  }
  .login-select-box span br {
    display: block;
  }
}
