.inline-group label {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  border-right: 1px solid #eee;
}

.inline-group-cont {
  display: inline-block;
}
