.inline-group
	margin: 0 5% 30px 0
	> label
		width: 100px
		display: inline-block
		vertical-align: middle
		padding: 0 10px 0 0
		margin: 0 10px 0 0
	.check-list
		label
			width: 200px
.inline-group.first-group
	margin: 20px 0 30px
		
.inline-group-cont
	width: calc( 100% - 150px)
	display: inline-block
	vertical-align: middle
	border-left: 1px solid #ddd
	padding: 0 0 0 15px
	.input-sty
		font-size: 16px
	textarea
		height: 80px
.inline-sub-box
	width: 300px
	display: inline-block
	vertical-align: middle
	margin: 10px 0 0
	h4
		font-weight: 500
		color: #999
		display: inline-block
		vertical-align: middle
	.input-sty
		width: calc(100% - 70px)
.inline-item
	width: 260px
	display: inline-block
	vertical-align: middle
	h4
		font-weight: 500
		color: #999
		margin: 5px 10px 5px 0
		padding: 5px 0
		display: inline-block
		vertical-align: middle
	p
		font-size: 16px
		color: #555
		display: inline-block
		vertical-align: middle
.check-all
	width: 100%


.status-btn
	span
		color: #fff
		font-size: 14px
		display: inline-block
		vertical-align: middle
		position: relative
		z-index: 3
	i
		vertical-align: middle
		position: relative
		z-index: 3
	.btn-cancel
		position: relative
	.btn-cancel:hover
		background: #d14d4d
	.btn-cancel.act
		background: #d14d4d
	input[type="radio"]
		position: absolute
		top: 0
		left: 0
		z-index: 5
		width: 100%
		height: 100%
		cursor: pointer
	input[type="radio"]:checked + .fa-square:before
		content: "\f14a"
	input[type="radio"]:checked + i + .status-act
		display: block
.status-act
	background: #d14d4d
	position: absolute
	top: 0
	left: 0
	z-index: 1
	width: 100%
	height: 100%
	display: none
.opera
	a,i
		color: #0071BE
	&.txt-r
		text-align: right
.search-result-box
	padding: 10px
.search-result
	display: inline-block
	vertical-align: middle
	span
		color: #00538b
		font-weight: 500
    
.cont-view
	font-size: 16px
	color: #555
	width: 100%
	display: inline-block