/* (@)whitenight.tw by truesun */
@import reset
@import mixins
@import color

//全域樣式
html, body
    color: #555
    font-size: 14px
    +fontSty
input,textarea,select
    +fontSty
    -webkit-appearance: none
    border-radius: 0
input[type="radio"],input[type="checkbox"]
    width: 1px
    height: 1px
    opacity: 0
input[type="radio"]:checked + .radio-box::after
    content: ""
    width: 11px
    height: 11px
    border-radius: 30px
    display: block
    background: $btn

input[type="checkbox"]:checked + .check-box::after
    content: "\f00c"
    font-family: "Font Awesome 5 Pro"
    color: $btn
    font-weight: 900
    font-size: 14px
    margin: 0 0 0 2px
    display: block
    font-style: normal
    font-variant: normal
    text-rendering: auto
    line-height: 1
    transform: translate(0, 0)

.clearfix::after
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
.clearfix
    display: inline-block
html[xmlns] .clearfix
    display: block
* html .clearfix
    height: 1%

//lightbox 基礎組件
.mask
    width: 100%
    height: 100%
    background: rgba(0,0,0,.7)
    +topLeft(0,0,99)
.lg-box
    box-shadow: 0 0 50px #111
    border-radius: 5px
    position: absolute
    top: 15%
    left: 50%
    z-index: 100
.lg-tit
    color: $white
    font-size: 16px
    letter-spacing: 1px
    background: $main-color
    padding: 10px 8px
    border-bottom: 2px solid #11577d
.lg-cont
    background: $white
    padding: 15px
    overflow: auto
    h2
        font-size: 18px
        color: $h2-color
        padding: 20px 0 10px 0
        text-shadow: 0 1px 0 $white
    h3
        font-size: 16px
        color: $h2-color
        padding: 10px 0
        text-shadow: 0 1px 0 $white

.lg-bot
    text-align: center
    background: #e5e5e5
    padding: 8px
    border-top: 1px solid #ccc
    .btn
        margin: 0 5px
        position: relative
        input
            display: block
            width: 100%
            position: absolute
            margin: 0
            border: none
            top: 0
            left: 0
            right: 0
            bottom: 0
            opacity: 0
            direction: ltr
            cursor: pointer
            z-index: 2
	

//純訊息
//視使用需求增加.lg-mesg-box的寬度，或另外新增class name
.lg-mesg-box
    width: 400px
    margin: 0 0 0 -200px
.lg-big-box
    width: 800px
    margin: 0 0 0 -400px
.lg-full-box
    width: 90%
    box-shadow: 0 0 50px #111
    border-radius: 5px
    position: absolute
    top: 15%
    left: 5%
    z-index: 100
    
//此為配合.lg-big-box新增的class name 固定最大高度後，超出最大高度給予捲軸使用
.lg-add
    max-height: 300px
    overflow: y-scroll

//表單樣式
.input-sty
    color: $input-txt
    font-size: 14px
    width: 100%
    background: #eee
    padding: 5px 10px
    border: 1px solid #d0d0d0
    border-radius: 2px
    box-sizing: border-box
    display: inline-block
    outline : 0
    transition: background .4s,box-shadow .4s
    vertical-align: middle
    &:focus
        background: $white
        box-shadow: 0 0 3px #ccc

.select-sty
    color: $input-txt
    font-size: 14px
    width: 100%
    height: 32px
    background: #f7f7f7
    padding: 0 25px 0 8px
    background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%
    border: 1px solid #d0d0d0
    border-radius: 2px
    display: inline-block
    outline : 0
    transition: background .4s,box-shadow .4s
    vertical-align: middle
    &:focus
        background: $white url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%
        box-shadow: 0 0 3px #ccc

.radio-box
    width: 19px
    height: 19px
    padding: 2px
    border: 2px solid $btn
    border-radius: 30px
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    margin: 0 3px 0 0
.check-box
    width: 19px
    height: 19px
    border: 2px solid $btn
    box-sizing: border-box
    display: inline-block
    vertical-align: middle
    margin: 0 3px 0 0

//共用樣式
.txt-c
    text-align: center
.txt-r
    text-align: right
.imp
    color: $fn-bg
.cle
    clear: both
.error
    border: 1px solid #d2664f
.note
    padding: 0 5px 10px 0
    color: #999
    word-break: break-all
.cou-poi
    cursor: pointer
.icon-right
    position: relative
    i
        font-size: 20px
        position: absolute
        right: 10px
        bottom: 6px
        z-index: 1
//複選框組件
.check-list
    margin: 0
    label
        padding: 6px 10px 6px 3px
        cursor: pointer
        border-radius: 3px
        margin: 0 10px 0 0
        transition: .2s
        &:hover
            background: #eee
    label.error
        color: $white
        border-radius: 2px
        background: #d2664f
        line-height: 16px
        margin: 0
        display: inline-block
    span
        vertical-align: middle
//跑馬燈
.marquee-box
    overflow: hidden
    width: 100%
    height: 30px
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc
    ul
        width: 100%
        height: 30px
        position: relative
    li
        height: 30px
        line-height: 30px
        text-overflow: ellipsis
        white-space: nowrap
        position: absolute
        top: -999em
        left: 0
    a
        color: $main-color
        display: block
        overflow: hidden
        height: 30px
        line-height: 30px
        text-decoration: none
        text-overflow: ellipsis
        white-space: nowrap
        &:hover
            text-decoration: underline
        
    i
        color: #f00
        margin: 0 0 0 5px

/*Login page*/
//首頁登入頁
.login-page-mask
    width: 100%
    height: 100%
    position: absolute
    background: url(../img/backend_img/pic_mask.png)
    z-index: 1
.video-full-box
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    opacity: 0.8
.video-full-bg
    object-fit: cover
    width: 100vw
    height: 100vh
    position: fixed
    top: 0
    left: 0
.login-page-bg
    width: 100%
    height: 100%
    position: relative
    z-index: 2
    // background: #000 url(../img/backend_img/login_bg_default.jpg) no-repeat center 0/cover
    &:after
        content: ""
        width: calc(97% - 200px)
        height: 1px
        background: rgba(255,255,255,0.3)
        position: absolute
        top: 30px
        left: 213px
    &:before
        content: ""
        width: 1px
        height: calc(100% - 110px)
        background: rgba(255,255,255,0.3)
        position: absolute
        top: 70px
        left: 36px
.loain-box
    width: 500px
    margin: 0 0 0 -250px
    position: absolute
    top: 20%
    left: 50%
.logo
    +wh(160,90)
    background: url(../img/backend_img/backend_logo.png) no-repeat center center/cover
    +topLeft(-50,170,1)
.login
    width: 500px
    text-align: center
    padding: 20px 30px
    box-sizing: border-box
    border-radius: 5px
    background-color: rgba(0, 0, 0, 0.6)
    h1
        margin: 35px 15px 0
        color: $white
        font-size: 16px
    .input-box
        width: 100%
        margin: 20px auto
        position: relative
        display: block
        i
            font-size: 22px
            color: #106696
            position: absolute
            top: 9px
            right: 15px
            z-index: 1
    label
        padding: 8px 12px
        border: none
        display: block
        position: absolute
        top: 3px
        right: 7px
        z-index: 1
        border: 1px solid #d2664f
        background: #d2664f
        border-radius: 3px 
        input[class~=input-sty]
            font-size: 18px
            padding: 10px 10px 10px 45px
            z-index: 2
    label.error
        color: $white
        margin: 1px 0 0
    .input-sty
        padding: 10px
.login-note
    margin: 10px 0 0
    color: #00e7ff
    font-size: 16px
    a
        color: #2dff81
        border-bottom: 1px solid #2dff81
.login-error-mesg
    color: #f00
    padding: 0 25px
.login-footer
    color: $white
    text-align: center
.login-btn-box
    text-align: center
    margin: 20px auto
.login-submit-btn
    font-size: 18px
    color: $btn-text
    text-shadow: 0 1px 1px #000
    background: darken($btn,5%) 
    width: 100%
    box-shadow: 0 0 3px #90D0F2 inset,0 0 5px rgba(0,0,0,1)
    padding: 12px 0
    border: 0
    border-radius: 5px
    cursor: pointer
    outline: none
    transition: background .2s
    &:hover
        background: darken($btn,10%)
//登入後選擇項目
.page-logo
    width: 170px
    position: fixed
    top: 20px
    left: 20px
    z-index: 3

.login-select-box
    width: 100%
    height: 100%
    position: relative
    margin: 0 auto
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-content: center
    h2
        color: #fff
        text-align: center
        font-size: 20px
        font-weight: bold
        text-shadow: 0 0 10px #000
        letter-spacing: 1px
        width: 100%
        margin: 0 0 50px
    >a
        color: #fff
        text-align: center
        font-size: 26px
        font-weight: bold
        text-shadow: 0 0 10px #000
        letter-spacing: 1px
        width: 250px
        height: 170px
        display: block
        margin: 0 2% 20px
        align-items: center
        background: rgba(46,195,140,0.3)
        border: 1px solid #2ec38c
        border-radius: 10px
        padding: 38px 20px 20px
        box-sizing: border-box
        box-shadow: 0 0 10px rgba(46,195,140,1),0 0 10px rgba(46,195,140,1) inset
        transition: .4s
        position: relative
        &:hover
            transform: scale(1.1)
            background: rgba(46,195,140,0.6)
            box-shadow: 0 0 40px rgba(46,195,140,1),0 0 10px rgba(46,195,140,1) inset
    >a:nth-of-type(2)
        padding: 20px
    i
        font-size: 48px
        color: #00ffae
        display: block
        margin: 0 auto 10px
    img
        height: 50px
        display: block
        margin: 0 auto 10px
    p
        text-align: center
        width: 100%
        margin: 10px 0 80px
        a
            font-size: 16px
            color: #fff
            transition: .4s
            display: inline-block
            &:hover
                color: #2ec38c
                transform: scale(1.1)
                text-shadow: 0 0 20px rgba(46,195,140,1)
        i
            font-size: 16px
            display: inline-block
    span
        font-size: 12px
        display: block
        position: absolute
        top: -25px
        left: 0
        z-index: 1
        br
            display: none      
    

//右邊欄、主內容 Layout
body
    width: 100%
    height: 100%
    overflow: hidden
    //url(../img/backend_img/body_bg.png)
.main
    height: calc( 100% - 40px )
    padding: 0 20px 0 30px
    margin: 40px 0 0
    overflow: auto
    background: $white url(../img/backend_img/main_bg.png)
    box-sizing: border-box
    h1
        font-size: 24px
        color: $h1-color
        padding: 15px 0 20px 0
        background: url(../img/backend_img/title_line.png) 0 53px repeat-x
    h2
        font-size: 18px
        color: $h2-color
        padding: 20px 0 10px 0
        text-shadow: 0 1px 0 $white
    h3
        font-size: 16px
        color: $h2-color
        padding: 10px 0
        text-shadow: 0 1px 0 $white

//top menu 頂級網域連結
.top-menu
    width: 100%
    height: 40px
    background: #003B83
    position: fixed
    top: 0
    left: 0
    z-index: 2
    img
        margin: 0 0 0 10px
        position: relative
        top: 3px

.m-top-menu
    display: none
.system-name
    font-size: 20px
    color: #fff
    display: inline-block
    padding: 0 10px 0 0
    line-height: 40px
.sub-system
    font-size: 16px
    display: inline-block
    a
        color: #a5d9ff
        display: inline-block
        padding: 0 10px
        line-height: 40px
        transition: .3s
        &:hover
            color: #fff


//導航列側邊欄
.sidebar-switch
    font-size: 14px
    color: #fff
    line-height: 40px
    width: 180px
    padding: 0 0 0 10px
    position: relative
    border-bottom: 1px solid rgba(255,255,255,0.2)
    box-sizing: border-box

.side-nav
    width: 180px
    height: calc( 100% - 40px )
    float: left
    overflow: hidden
    position: relative
    background: $main-color
    box-sizing: border-box
.side-box
    width: 180px
    height: 100%

.btn-side-close
    color: $white
    font-size: 16px
    width: 26px
    height: 23px
    line-height: 1
    background: $main-color
    box-sizing: border-box
    padding: 0 0 0 6px
    cursor: pointer
    position: absolute
    top: 12px
    right: 12px
    z-index: 1
    &:hover p
        height: 68px
    p
        color: $white
        font-size: 13px
        text-align: center
        line-height: 1.3
        letter-spacing: 2px
        width: 100%
        height: 0
        box-sizing: border-box
        overflow: hidden
        background: #222
        position: absolute
        top: 28px
        left: 0
        transition: .3s


.btn-side-open
    color: $white
    font-size: 16px
    width: 26px
    height: 23px
    background: $main-color
    line-height: 1
    box-sizing: border-box
    padding: 3px 0 0 6px
    cursor: pointer
    position: absolute
    top: 40px
    left: -40px
    z-index: 2
    &:hover p
        height: 68px
    p
        color: $white
        font-size: 13px
        text-align: center
        line-height: 1.3
        width: 100%
        height: 0
        overflow: hidden
        box-sizing: border-box
        background: #222
        padding: 0 2px
        position: absolute
        top: 23px
        left: 0
        transition: .3s
        
.side-logo
    +wh(160,90)
    margin: 10px auto
    background: url(../img/backend_img/backend_logo.png) no-repeat center/cover
.side-footer
    font-size: 12px
    color: #63a8d8
    background: #0071BE
    width: 180px
    padding: 5px 0 20px 15px
    box-sizing: border-box
    position: absolute
    bottom: 0
    left: 0
    z-index: 2
.login-date
    font-size: 12px
    color: #fff
    letter-spacing: 1px
    margin: 0 0 8px
.backend-tit
    text-align: right
    color: $white
    font-size: 12px
    padding: 5px
.user-info
    font-size: 15px
    text-align: right
    color: #eee
    margin: 7px 0 0
    padding: 0 10px 0 0
    float: right
.user-id
    border-right: 1px solid $white
    padding: 0 16px 0 0
    margin: 0 13px 0 0
    display: inline-block
    vertical-align: middle
// 不用
// .sign-out-box
//     padding: 10px
//     border-top: 1px solid lighten($main-color,5%)
.user-setting
    font-size: 16px
    display: inline-block
    vertical-align: middle
    a
        color: #00B0C7
        display: inline-block
        vertical-align: middle
        margin: 0 15px 0 0
        transition: .2s
        &:hover
            color: #fff

// .sign-out
//     color: $white
//     box-shadow: 0 1px 0 darken($main-color,10%)
//     padding: 5px 8px
//     border-radius: 3px
//     background: darken($main-color,10%)
//     transition: .2s
//     &:hover
//         background: darken($main-color,20%)

.nav-box
    overflow-y: auto
    height: 100%
.nav
    padding: 0 0 120px
    a
        font-size: 14px
        color: $white
        padding: 12px 10px 11px 10px
        margin: 0
        border-bottom: 1px solid rgba(255,255,255,0.2)
        display: block
        //border-radius: 2px
        transition: background .2s
        &:hover
            color: $white
            background: darken($main-color,10% )
        &.act
            color: $white
            background: darken($main-color,10% )
            text-shadow: 0 0 12px #39B7FC
            //border-top: 1px solid #777
            //box-shadow: 0 0 7px 1px #000
    i
        margin: 0 3px 0 0
.nav-item
    font-size: 14px
    color: $white
    margin: 0
    border-bottom: 1px solid rgba(255,255,255,0.2)
    display: block
    transition: background .2s
    cursor: pointer
    &:hover
        color: $white
        background: darken($main-color,10% )
    .act
        color: $white
        background: darken($main-color,10% )
        text-shadow: 0 0 12px #39B7FC
        //border-top: 1px solid #777
        //box-shadow: 0 0 7px 1px #000
.nav-sub-item
    padding: 12px 10px 11px 10px
.sub-nav
    overflow: hidden
    display: none
    a
        padding: 12px 10px 11px 35px
        background: darken($main-color,16%)
        &:hover
            background: darken($main-color,20%)
        &:before
            content: "-"
            margin: 0 7px 0 0

//次選單樣式
.sub-menu
    margin: -10px 0 20px 0
    background: #063165
    overflow: hidden
    li
        float: left
    a
        color: $white
        padding: 10px 17px
        display: block
        transition: .2s
    a.act,a:hover
        color: $white
        background: #2F527E

.sub-page
    height: 31px
    margin: 10px 0 20px 0
    border-bottom: 1px solid $main-color
    li
        height: 30px
        line-height: 30px
        padding: 0 14px
        display: block
        border-radius: 5px 5px 0 0
        transition: .2s
        float: left
        margin: 0 0 0 10px
        cursor: pointer
        &:hover
            background: #eee
    li.act
        color: $main-color
        border: 1px solid $main-color
        border-bottom: 1px solid #F9F9F9
        &:hover
            background: #F9F9F9
	
//麵包削
.breadcrumb
    margin: 10px 0
    background-color: #ECECEC
    border-radius: 4px
    li
        display: inline-block
    a
        color: #337ab7
        text-decoration: none
        padding: 8px 10px
        display: inline-block
        transition: .2s
        &:hover
            background: #ddd
    span
        padding: 8px 10px
    a.active
        color: #777
    &:focus
        background: $white
        box-shadow: 0 0 3px #ccc

.breadcrumb > li + li:before
    padding: 0 0
    color: #ccc
    content: "/\00a0"
//組件基礎
.input-box
    width: 44%
    margin: 0 5% 20px 0
    display: inline-block
    vertical-align: top
    p
        font-size: 15px
    label
        font-size: 16px
        color: $main-color
        font-weight: bold
        margin: 5px 5px 10px 0
        display: block
    .check-list label //為了改掉.check-list的label吃到上面的樣式，所以要覆寫
        font-weight: normal
        margin: 0
        +dv
    label.error
        color: $white
        font-weight: normal
        padding: 5px 8px
        border-radius: 2px
        background: #d2664f
        display: inline-block
    span
        font-size: 16px
        color: #555
        vertical-align: middle

//2欄式組件
.input-box-w
    width: 93.5%
.input-box-100
    width: 100%
    margin: 0 0 20px

.more-info
    height: 400px
.desc-info
    height: 150px
.w50
    width: 50px
.w100
    width: 100px
.w150
    width: 150px
.w200
    width: 200px
.w250
    width: 250px

//表格
.table
    width: 100%
    border-left: 1px solid #ccc
    border-top: 1px solid #ccc
    margin: 0 0 15px 0
    th
        background: #eee
    th,td
        text-align: center
        border-right: 1px solid #ccc
        border-bottom: 1px solid #ccc
        padding: 1%
    a
        color: $main-color

.table-group
    font-size: 16px
    width: 100%
.calendar-sty
    min-width: 1100px
    th,td
        text-align: left
        vertical-align: top
        padding: 10px 5px
    a
        //border-bottom: 1px dashed #000
        font-size: 14px
        padding: 3px
        line-height: 1.8
        border-radius: 5px
        transition: .3s
        display: block
        &:hover
            background: #eee
        br
            margin: 0 0 10px
            display: block
    p
        color: $white
        text-align: center
        margin: 0 auto
        border-radius: 50px
        padding: 3px 10px
        margin: 0 0 3px
        background: $sub-b
/*tag style*/
.tag
    display: inline-block
    overflow: hidden
    li
        border: 1px solid #ddd
        margin: 0 8px 8px 0
        float: left
        border-radius: 3px
        cursor: pointer
        transition: .2s
        &:hover
            border: 1px solid $btn
	
.tag-add
    font-size: 18px
    color: $white
    background: $btn
    line-height: 30px
    padding: 0 8px
    &:hover
        background: darken($btn,10%)

.tag-name
    line-height: 30px
    padding: 0 8px
    float: left
//標籤輸入的
.tag-name-input
    border: none
    border-radius: 0
    float: left
    display: block
    input.input-sty
        width: 120px
        padding: 5px 8px
        border: none

.tag-del
    font-size: 18px
    background: #ddd
    padding: 0 8px
    line-height: 30px
    float: left
    display: block
    transition: .2s
    &:hover
        background: #ccc

.tag-creat
    display: none
.tag-check
    font-size: 18px
    color: $white
    background: $main-color
    padding: 0 15px
    line-height: 30px
    float: left
    display: block
    transition: .2s
    position: relative
    &:hover
        background: darken($main-color,10%)
    input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 1
        opacity: 0
        cursor: pointer

//標籤開啟light
.tag-lg-box
    background: $white
    box-shadow: 0 0 20px #999
    border-radius: 5px
    width: 280px
    padding: 15px
    margin: -145px 0 0 -140px
    .input-sty
        width: 96%
        font-size: 20px
    label.error
        color: $white
        border-radius: 2px
        background: #d2664f
        display: inline-block
        margin: 5px 0 0 0
    .submit-btn
        margin: 0

.tag-lg-list
    width: 680px
    margin: -350px 0 0 -270px

//按鈕送出區塊&樣式 Style
.btn-area
    font-size: 16px
    text-shadow: 0 1px 1px #000
    letter-spacing: 2px
    padding: 10px 0
    input
        display: block
        width: 100%
        position: absolute
        margin: 0
        border: none
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        direction: ltr
        cursor: pointer
        z-index: 2
.btn
    color: $btn-text !important
    font-size: 14px
    display: inline-block
    position: relative
    padding: 8px 12px
    margin: 0 15px 0 0
    border-radius: 2px
    border: 0
    outline: none
    -webkit-appearance: none
    transition: .2s
    cursor: pointer
.btn-submit
    background: $btn
    &:hover
        background: darken($btn,10%)

.btn-function
    background: $fn-bg
    &:hover
        background: darken($fn-bg,10%)
.btn-blue
    background: $sub-b
    &:hover
        background: darken($sub-b,10%)
.btn-green
    background: $sub-g
    &:hover
        background: darken($sub-g,10%)
.btn-cancel
    background: #999
    &:hover
        background: darken(#999,10%)

//列表組件
.only-title
    width: 100%
    color: #555
    margin: 0
    li
        font-weight: bold
        width: 100%
        border-bottom: 2px solid #555
        &:hover
            background: none
.list
    width: 100%
    margin: 0 0 20px 0
    color: #555
    li.title
        font-weight: bold
        border-bottom: 1px solid #ccc
        &:hover
            background: none
    li
        width: 100%
        border-bottom: 1px dotted #ccc
        box-sizing: border-box
        &:hover
            background: $white
    img
        width: 100%
        display: block
.title
    i
        cursor: pointer
        &:hover
            color: $main-color
    i.act
        color: $main-color
.check-all-list
    label
        cursor: pointer
//排列組合（除了list，有配合其他功能）
.list-group
    margin: 0
.list-control
    text-align: right
    .btn
        margin: 0 0 0 15px
.list-input
    input[type="text"]
        width: 100%
        box-sizing: border-box

//資料列表
.data-box
    width: 700px
    border: 1px solid #ccc
    .list
        margin: 0
    li:last-child
        border: none
    .check-list label
        margin: 0
    .check-list span
        font-size: 14px

//圖像列表
.box-list
    overflow: hidden
    li
        margin: 0 8px 10px 0
        border: 2px solid #ccc
        transition: .2s
        cursor: pointer
        position: relative
        +dv
        &:hover
            border: 2px solid $main-color
        &:hover p
            background: $main-color
        &:hover .del
            display: block
	
    li.act //如果圖像列表有勾選狀態即使用.act
        border: 2px solid $main-color
        p
            background: $main-color
        .del
            display: block
    img
        display: block
    a
        width: 120px
        display: block
        img
            max-width: 100%
            max-height: 100%
            width: 100%
            height: 100%
    p
        color: $white
        text-align: center
        width: 100%
        background: #999
        height: 25px
        line-height: 25px
        transition: .2s

.del
    font-size: 20px
    color: $white
    text-align: center
    width: 30px
    height: 30px
    background: $main-color
    line-height: 29px
    position: absolute
    top: 0
    right: 0
    z-index: 1
    display: none
    cursor: pointer

//相片列表
.photo-list
    margin: 0 0 10px
    li
        width: 200px
        border: 1px solid #ccc
        padding: 5px
        background: #eee
        margin: 0 10px 10px 0
        position: relative
        +dv
        transition: .3
        &:hover
            border: 1px solid $main-color
    a
        width: 100%
        display: inline-block
        position: relative
    img
        width: 100%
        display: block
    p
        text-align: center
        padding: 5px 0 0

.del-photo
    width: 21px
    height: 21px
    background: url(../img/backend_img/pic_del.png) no-repeat
    position: absolute
    top: 10px
    right: 10px
    z-index: 10
    cursor: pointer

//展開收合列表
.unfold-list
    width: 100%
    margin: 0 0 20px 0
    color: #555

.unfold-item
    color: $main-color
    width: 100%
    background: #eee
    padding: 10px
    margin: 0 0 3px
    position: relative
    box-sizing: border-box
    cursor: pointer
    transition: .3s
    &:hover
        background: darken(#eee,5%)
    p
        font-size: 16px
    i
        font-size: 16px
        float: right
        display: block
        position: absolute
        right: 16px
        top: 11px
.unfold-item.fold-open
    background: darken(#eee,5%)
.unfold-cont
    padding: 8px
    background: #eee
    margin: -3px 0 3px 0
    .list
        margin: 0
    label
        font-size: 14px
        margin: 5px 5px 5px 0
            
//搜尋組件
.search-box
    text-align: left
    background: #f2f2f2
    border: 1px solid #d0d0d0
    padding: 8px 0 0
    margin: 0 0 10px
    .btn-area
        background: #e5e5e5
        padding: 10px 0 8px 8px
        border-top: 1px solid #ccc

.search-ui-box
    margin: 0 12px 8px 8px
    +dv
    label
        +dv
    span
        +dv
    
.search-signle
    text-align: left
    background: #eee
    border: 1px solid #ddd
    padding: 8px 0 0
    margin: 0 0 10px
    .search-ui-box
        margin: 0 5px 8px 8px
    .btn-area
        padding: 0
        margin: 0 0 8px
        +dv

//輸入框組件
//Group有連結才會用這個包起來的群組
.group-box-70,.group-box-83,.group-box-85,.group-box-100
    padding: 10px 0
    +dv
    overflow: hidden
.group-box-15
    width: 15%
    +dv
.group-box-70
    width: 70%
    +dv
.group-box-83
    width: 83%
    +dv
.group-box-85
    width: 85%
    +dv
.group-box-100
    width: 100%

//一般群組
.box-5
    width: 5%
.box-8
    width: 8%
.box-10
    width: 10%
.box-12
    width: 12%
.box-14
    width: 14%
.box-15
    width: 15%
.box-16
    width: 16%
.box-20
    width: 20%
.box-25
    width: 25%
.box-30
    width: 30%
.box-35
    width: 35%
.box-40
    width: 40%
.box-45
    width: 45%
.box-50
    width: 50%
.box-55
    width: 55%
.box-60
    width: 60%
.box-65
    width: 65%
.box-70
    width: 70%
.box-75
    width: 75%
.box-80
    width: 80%
.box-85
    width: 85%
.box-90
    width: 90%
.box-95
    width: 95%
.box-5,.box-8,.box-10,.box-12,.box-14,.box-15,.box-16,.box-20,.box-25,.box-30,.box-35,.box-40,.box-45,.box-50,.box-55,.box-60,.box-65,.box-70,.box-75,.box-80,.box-85,.box-90,.box-95
    word-wrap: break-word
    padding: 0 0.5%
    box-sizing: border-box
    +dv

//.pad-u-d-10 = padding up & down is 10px
.pad-u-d-10
    padding: 10px 0
.opera
    text-align: center
    a
        padding: 0 3px
    i
        font-size: 15px
        color: #999
    i.red
        color: $fn-bg
        &:hover
            color: $fn-bg
    i:hover,i.act
        color: $link


//影音
.video
    margin: 10px 0 0
    display: block
    iframe
        border: 1px solid #ddd
        padding: 8px
        display: block

//upload image 上傳圖項
.upload-pic
    display: none
.upload-img-box
    +wh(150,150)
    label.error
        +topLeft(4,8,1)

.head-box
    +wh(200,200)
    label.error
        +topLeft(4,8,1)

.upload-box-sty
    border: 1px solid #ccc
    padding: 5px
    background: #eee url(../img/backend_img/upload.png) center no-repeat
    transition: .3s
    &:hover
        border: 1px solid $main-color

//上傳圖片的點擊範圍
.upload-click-area
    width: 100%
    height: 100%
    cursor: pointer
    img
        width: 100%
        height: 100%
        
//上傳檔案
.upload-form-file
    width: 100%
    height: 40p
    input
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        z-index: 1
        opacity: 0
        filter: alpha(opacity=0)
        -ms-filter: alpha(opacity=0)
        cursor: pointer

.form-file
    text-align: center
    font-size: 16px
    text-shadow: 0 1px 1px #111
    color: $white
    width: 200px
    height: 40px
    line-height: 40px
    background: $btn
    margin: 0 10px 0 0
    display: inline-block
    position: relative
    transition: background .2s
    &:hover
        background: darken($btn,10%)

.file-name
    color: $main-color
    margin: 10px 0
.form-file label
    margin: 0
    line-height: 28px
    position: absolute
    top: 0
    right: -129px

.pagination
    margin: 20px auto 100px
.pagination-numbers
    display: flex
    justify-content: center
    a
        color: #666
        text-shadow: 0px 1px 0px rgba(255,255,255,0.59)
        font-size: 13px
        display: inline-block
        position: relative
        margin: 0px 5px
        width: auto
        height: auto
        background: #ececec
        padding: 6px 10px
        border: 1px solid #d8d8d8
        border-bottom: 1px solid #ccc
        border-radius: 3px
        cursor: pointer
        box-shadow: 0px 2px 2px rgba(0,0,0,0.027), inset 0px 1px 0px rgba(255,255,255,0.69), inset 0px -1px 0px rgba(0,0,0,0.0187), inset 0px 14px 13px rgba(255,255,255,0.57)
        transition: .3s
    a:hover
        color: #888
        text-shadow: 0px 1px 0px rgba(255,255,255,0.69)
        box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20)
    a.act
        color: #696969
        text-shadow: 0px 1px 0px rgba(255,255,255,0.53)
        border: 1px solid #d2d2d2
        border-bottom: 1px solid #d8d8d8
        box-shadow: 0px 1px 0px rgba(255,255,255,0.58), inset 0px 1px 6px rgba(0,0,0,0.07), inset 0px -14px 13px rgba(255,255,255,0.20)

//src Tag
.no-data
    color: #999
    padding: 10px 10px 20px

li.no-data
    padding: 5px 10px

.input-box .tag-src-area label
    display: inline-block

.tag-src-area
    display: flex
    justify-content: space-between
    align-items: center

.tag-src-box
    display: flex
    justify-content: flex-start
    align-items: center

.tag-input
    border: 1px solid #d0d0d0
    padding: 3px 5px
    background: rgba(#eee,0.7)

.tag-btn
    color: #fff
    padding: 3px 6px
    margin: 0 3px
    border-radius: 2px
    background: #999
    cursor: pointer
    &:hover
        background: darken(#999,10%)

.tag-btn.src
    background: $main-color
    &:hover
        background: darken($main-color,10%)

.tt-hint
    color: #999

.tt-menu
    width: 100%
    max-height: 120px
    padding: 3px
    border: 1px solid #999
    background: #fff
    box-sizing: border-box
    overflow: scroll

.tt-suggestion
    padding: 0 3px
    cursor: pointer
    &:hover
        color: #fff
        background: $main-color
//地圖
.map-box
    height: calc( 100% - 40px )
    margin: 40px 0 0 
    overflow: auto
    box-sizing: border-box
    overflow: hidden
    iframe
        display: block
.err-notic-box
    color: #fff
    width: 600px
    background: rgba(204,47,47,0.9)
    border-radius: 8px
    padding: 14px 20px
    position: absolute
    top: 55px
    right: 10px
    z-index: 2
    transform: translateX(102%)
    h2
        font-size: 20px
        margin: 0 0 5px
    p
        font-size: 16px
        background: #982121
        border-radius: 3px
        line-height: 1.6
        padding: 5px 10px
        margin: 0 0 5px
.map-notic-close
    font-size: 24px
    position: absolute
    top: 6px
    right: 20px
    z-index: 1
    cursor: pointer
    transition: .3s
    &:hover
        transform: scale(1.1)
.rightIn
    animation-name: slideRightIn
    animation-delay: 1s
    animation-duration: .6s
    animation-timing-function: ease-out
    animation-fill-mode: forwards
@keyframes slideRightIn
    0%
        transform: translateX(100%)
        opacity: 0
    100%
        transform: translateX(0)
        opacity: 1

//自訂義下拉式選單
.sel-cus-ui
    width: 100%
    position: relative
    ul
        width: 100%
        max-height: 150px
        padding: 8px 8px 34px 8px
        overflow-y: auto
        -webkit-overflow-scrolling: touch
        background: #fff
        box-shadow: 0 2px 20px rgb(0 0 0 / 10%)
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        box-sizing: border-box
        align-items: center
        position: absolute
        top: 0
        left: 0
        z-index: 2
    li
        color: #7B7B7B
        width: 100%
        height: 32px
        line-height: 32px
        padding: 0 0 0 8px
        background: #fff
        cursor: pointer
        transition: .3s
        display: flex
        justify-content: flex-start
        align-items: center
        overflow: hidden
        position: relative
        &:hover
            background: #ddd

    label
        width: 100%
        font-weight: normal
        padding: 3px 0
        margin: 0
        line-height: 1
        cursor: pointer
        span
            font-size: 14px
        input
            position: absolute
            visibility: hidden
.sel-cus-ui
    &.sel-cus-ui-column
        li
            width: auto
            height: auto
            line-height: 1
            padding: 0
            margin: 0 8px 8px 0
            border: 1px solid #ddd
            border-radius: 3px
        label
            padding: 8px
.sel-group
    width: 100%
    height: 150px
    position: absolute
.btn-close-list
    color: #fff
    text-align: center
    font-size: 14px
    letter-spacing: 2px
    background: #0071BE
    width: 100%
    padding: 7px 0
    display: block
    position: absolute
    bottom: 0
    left: 0
    right: 0
    z-index: 3
    cursor: pointer
.selected-ui
    font-size: 14px
    color: #555
    width: 100%
    height: 32px
    line-height: 32px
    border: 1px solid #d0d0d0
    background: #eee url(../img/backend_img/sel_arrow.png) no-repeat right 4px top 50%
    padding: 0 35px 0 9px
    cursor: pointer
    transition: 0.3s
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: flex-start
    position: relative

//RWD 手機版css 
@import mobile
